<!-- @format -->
<!DOCTYPE html>
<html>
  <!-- vueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <!-- v-if = directive -->
      <div v-if="isTrue">{{hello}}</div>
      <!-- when button is clicked, perform an action -->
      <button v-on:click="toggleIsTrue">Press Me</button>
      Scott Says
    </div>
    <div id="app2">
      <input type="text" v-model="hi" />
      <input type="checkbox" v-model="isTrue" />
      {{hi}}
    </div>
    <script src="js/script.js" async defer></script>
  </body>
</html>
